.wrapper h2 {
    margin-top: 13px;
}

.edit {
    min-height: 109px;
    transition: all 0.3s ease;
    width: 98%;
}
.listUser {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 50px;
}
.status {
    font-size: 1.7rem !important;
}
.filter {
    padding: 0 10px;
    width: 35%;
    position: fixed;
    top: 60px;
}
.filter form {
    width: 100%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
